/*
 * (C) Copyright 2026 Gemini / King6818 Porting Project
 * Full Hardware Support for Rongpin King6818
 */

/memreserve/ 0x7de00000 0x00100000;
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include "s5p6818.dtsi"

#define PMIC_PDATA_INIT(_id, _rname, _minuv, _maxuv,	\
						_always_on, _boot_on, _init_uv,	\
						_init_enable, _slp_slots)		\
		regulator-name = _rname;			\
		regulator-min-microvolt = <_minuv>;	\
		regulator-max-microvolt = <_maxuv>;	\
		nx,id = <_id>;						\
		nx,always_on = <_always_on>;		\
		nx,boot_on = <_boot_on>;			\
		nx,init_enable = <_init_enable>;	\
		nx,init_uV = <_init_uv>;			\
		nx,sleep_slots = <_slp_slots>;

/ {
	model = "Rongpin King6818 Board";
	compatible = "rongpin,king6818", "nexell,s5p6818";

	memory {
		device_type = "memory";
		reg = <0x40000000 0x3db00000>;
	};

	aliases {
		ethernet0 = &gmac0;
		i2c3 = &i2c_3;
	};

	soc {
		#include "s5p6818-pinctrl.dtsi"

		clocks {
			/* 修正波特率计算的基础时钟：147.456MHz 对应标准晶振倍频 */
			uart0:uart@c00a9000 { clock-frequency = <147456000>; };
			uart1:uart@c00a8000 { clock-frequency = <147456000>; };
			uart2:uart@c00aa000 { clock-frequency = <147456000>; };
			uart3:uart@c00ab000 { clock-frequency = <147456000>; };
		};

		/* 串口定义 */
		serial0:serial@c00a1000 { status ="okay"; };

		/* 修正：使用原生 I2C3 控制器而非模拟 GPIO */
		i2c_3: i2c@c00a7000 {
			compatible = "nexell,s5p6818-i2c";
			reg = <0xc00a7000 0x100>;
			interrupts = <0 47 0>;
			clock-names = "i2c";
			clocks = <&pclk>;
			pinctrl-names = "default";
			pinctrl-0 = <&i2c3_pins>;
			status = "okay";

			axp228@34 {
				compatible = "x-powers,axp228";
				reg = <0x34>;
				status = "okay";
				interrupt-parent = <&alive_0>;
				interrupts = <4 IRQ_TYPE_EDGE_FALLING>;
				
				regulators {
					VCC_DCDC1: axp22_dcdc1 { PMIC_PDATA_INIT(12, "axp228_3p3_sys", 1600000, 3400000, 1, 1, 3300000, 1, 0xF) };
					VCC1P1_ARM_PMIC: axp22_dcdc2 { PMIC_PDATA_INIT(13, "axp228_1p1_arm", 600000, 1540000, 1, 1, 1200000, 1, 0xF) };
					VCC1P0_CORE_PMIC: axp22_dcdc3 { PMIC_PDATA_INIT(14, "axp228_1p0_core", 600000, 1860000, 1, 1, 1200000, 1, 0xF) };
					VCC_DCDC5: axp22_dcdc5 { PMIC_PDATA_INIT(16, "axp228_1p5_ddr", 1000000, 2550000, 1, 1, 1500000, 1, 0xF) };
					/* 保留 LDO 定义以满足驱动依赖 */
					VCC_ALDO1: axp22_aldo1 { PMIC_PDATA_INIT( 1, "axp228_3p3_alive", 700000, 3300000, 1, 1, 3300000, 1, 0xF) };
				};
			};
		};

		dw_mmc_0:dw_mmc@c0062000 {
			num-slots = <1>;
			bus-width = <4>;
			cap-sd-highspeed;
			cd-gpios = <&alive_0 1 0>;
			status = "okay";
		};

		gmac0:ethernet@c0060000 {
			pinctrl-0 = <&gmac_pins>;
			status = "okay";
			snps,phy-addr = <3>;
			mdio {
				#address-cells = <1>;
				#size-cells = <0>;
				ethernet_phy: ethernet-phy@3 { reg = <3>; };
			};
		};

		pinctrl@C0010000 {
			i2c3_pins: i2c3-pins {
				nexell,pins = "gpioc-15", "gpioc-16";
				nexell,pin-function = <1>;
				nexell,pin-pull = <2>;
				nexell,pin-strength = <0>;
			};
		};
	};
};
