/*
 * (C) Copyright 2017 FriendlyElec Computer Tech. Co., Ltd.
 * (http://www.friendlyarm.com)
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/dts-v1/;
#include "s5p6818-king6818-common.dtsi"

/ {
	model = "RongPin king6818";
	compatible = "RongPin,king6818", "nexell,s5p6818";
};

&mach {
	hwrev = <0>;
	model = "king6818";
};

&dw_mmc_1 {
	status = "okay";
};

&simple_card {
	simple-audio-card,dai-link@0 {
		hp-det-gpio = <&gpio_b 27 0>;
	};
};

&spi_0 {
	/delete-node/ fbtft@0;
};
/* 1. 禁用友善之臂默认的模拟 I2C 总线（避免冲突） */
/delete-node/ &i2c_gpio_3; 

/* 2. 将 AXP228 挂载到荣品物理连接的硬件 I2C0 上 */
&i2c_0 {
	status = "okay";
	clock-frequency = <400000>;

	axp22x: pmic@34 {
		compatible = "x-powers,axp228";
		reg = <0x34>;
		interrupt-parent = <&gpio_b>;
		interrupts = <28 8>; /* 荣品通常使用 GPIOB28 作为中断 */

		regulators {
			/* 这是解决 CPU 调频报错的关键 */
			vdd_arm: dcdc2 {
				regulator-name = "vdd_arm";
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1300000>;
				regulator-always-on;
			};
			/* ... 如果需要音频供电，还需定义对应的 LDO */
		};
	};
};
