/dts-v1/;
#include "s5p6818-king6818-common.dtsi"

/ {
	model = "Rongpin King6818 Board";
	compatible = "rongpin,king6818", "nexell,s5p6818";
};

/* 引用在 common 中定义好的 i2c3 节点并关联引脚 */
&i2c_3 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c3_pins>;
	status = "okay";
};
