/*
 * (C) Copyright 2017 FriendlyElec Computer Tech. Co., Ltd.
 * (http://www.friendlyarm.com)
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/dts-v1/;
#include "s5p6818-king6818-common.dtsi"

/ {
	model = "RongPin king6818";
	compatible = "RongPin,king6818", "nexell,s5p6818";
};

&mach {
	hwrev = <0>;
	model = "king6818";
};

&dw_mmc_1 {
	status = "okay";
};

&simple_card {
	simple-audio-card,dai-link@0 {
		hp-det-gpio = <&gpio_b 27 0>;
	};
};

&spi_0 {
	/delete-node/ fbtft@0;
};

/* --- 彻底清理引脚占用，解锁 D2/D3 --- */

/* 1. 禁用硬件 I2C 控制器 */
&i2c_0 { 
    status = "disabled"; 
    /delete-property/ pinctrl-0; 
};

&i2c_1 { 
    status = "disabled"; 
    /delete-property/ pinctrl-0; 
};

&i2c_2 { 
    status = "disabled"; 
    /delete-property/ pinctrl-0; 
};

/* 2. 禁用 PWM */
&pwm {
    status = "disabled";
};

/* 3. 架空引脚定义，不删除标签以避免编译错误 */
&i2c0_pin {
    status = "disabled";
    nexell,pins = ""; /* 清空引脚定义 */
};

&i2c1_pin {
    status = "disabled";
    nexell,pins = ""; 
};

&i2c2_pin {
    status = "disabled";
    nexell,pins = "";
};

/* 4. 确保模拟 I2C 驱动配置正确 */
&i2c3_gpio {
    gpios = <&gpio_d 3 0    /* sda */
             &gpio_d 2 0    /* scl */
            >;
    /* 增加这两行，强制内核初始化 GPIO 模式 */
    i2c-gpio,delay-us = <50>; 
    sda-gpios = <&gpio_d 3 0>;
    scl-gpios = <&gpio_d 2 0>;
    status = "okay";
};
